* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, .5) #fff;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, .8);
    overflow: hidden;
}


textarea::-webkit-scrollbar,
.markdown-previewer::-webkit-scrollbar {
    width: 7px;
    /* width of the entire scrollbar */
}

textarea::-webkit-scrollbar-track,
.markdown-previewer::-webkit-scrollbar-track {
    background: #fff;
    /* color of the tracking area */
}

textarea::-webkit-scrollbar-thumb,
.markdown-previewer::-webkit-scrollbar-thumb {
    border-radius: 4px;
    /* roundness of the scroll thumb */
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    color: rgba(33, 181, 111, 1);
}

svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

button:disabled svg {
    fill: #6c757d;
}

.navbar button:disabled:hover svg {
    fill: #6c757d;
}

header {
    position: fixed;
    width: 100%;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #2196F3;
    padding: 0 .5rem;
}

.nav-child {
    display: flex;
}

.navbar button {
    background: none;
    border: 0;
    padding: .5rem;
    outline: none;
}

.navbar button:hover {
    background-color: hsla(0, 0%, 100%, .1);
}

.navbar button:hover svg {
    fill: #fff;
}

.navbar__maintools {
    justify-self: end;
}

blockquote {
    color: rgba(0, 0, 0, .5);
    padding-left: 1.5em;
    border-left: 5px solid rgba(0, 0, 0, .5);
    ;
}

pre {
    background-color: rgba(33, 181, 111, 0.08);
    border-radius: 3px;
    border: 0;
    line-height: 1.6;
    padding: 1rem;
}

p code {
    background-color: rgba(33, 181, 111, 0.08);
    border-radius: 3px;
    padding: 0.2rem 0.4rem;
}

.editor-container {
    line-height: 1.6;
    /* padding-top: 39px; */
}

.split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    padding-top: 2rem;
}

.editor-col {
    padding: 0 1rem;
}

.markdown-input {
    width: 100%;
    height: 100%;
    line-height: 1.6;
}

.markdown-input {
    border: 0;
    outline: none;
}


.markdown-previewer {
    padding-bottom: 8rem;
}

.markdown-previewer,
.markdown-input {
    max-height: 100vh;
    overflow-y: scroll;
}

/* Modal */
.modal__wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: hsla(207, 50%, 36%, 0.5);
}

.modal__content {
    min-width: 320px;
    max-width: 480px;
    margin: 5rem auto;
    padding: 2rem 3rem 3rem;
    background: #fff;
    position: relative;
}

.modal__header,
.modal__body,
.modal__body p {
    margin-bottom: 2rem;
}

.modal__close-btn {
    position: absolute;
    top: 11px;
    right: 7px;
    background: none;
    outline: 0;
    border: none;
}

.modal__close-btn svg {
    fill: grey;
}

.modal__label {
    display: block;
    margin-bottom: .7rem;
}

.modal__input {
    width: 100%;
    padding: .6rem;
}

.modal__footer {
    display: flex;
    justify-content: flex-end;
}

.modal-footer__btn {
    background: none;
    text-transform: uppercase;
    border: 0;
    padding: 0.5rem .8rem;
}

.modal__okay-btn {
    background: #2196f3;
    color: #fff;
}